.renter{
    display: flex;
    flex-direction: column;
    justify-content: top;
    flex-grow: 1;
    flex-shrink: 0;
    width: 250px;
    height: 100%;
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px 20px 0 20px;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    text-overflow: hidden;
}
.renter img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin:auto auto;
}
.renter p{
    font-weight: 450;
}
.renter h2{
    text-shadow: 0 5px rgba(133, 160, 160, 0.37);
    font-weight: bold;
    font-size:2em;
}
.focused{
    font-weight:900;
}
.renter button{
    width: 100%;
    height: 50px;
    border: 2px solid black;
    border-radius: 20px;
    margin: auto auto;
    font-weight: 900;
}