.mini-card{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    justify-content: center;
    align-items: center;
    
    width: 300px;
    height:100px;

    border: 2px solid black;
    border-radius: 20px;
    margin: 20px 10px 0 10px;
    box-shadow: 10px 10px 20px gray;
    
    
}
.text{
    /* flex-direction: column; */
    /* display: block; */
    /* overflow: hidden; */
    justify-content: center;
    
    /* flex-shrink: 0; */
    
}
.mini-card img{
    
    margin: auto auto;
    border: 2px solid rgb(201, 212, 218);
    border-radius: 20px;
    
}
.mini-card p{
    font-weight: 450;
    /* height: 50px; */
}
.mini-card h2{
    text-shadow: 0 5px rgba(133, 160, 160, 0.37);
    font-weight: bold;
    font-size:1.2em;
    /* height:50px; */
}
.focused{
    font-weight:900;
}
.btnCancel{
    width: 50px;
    height: 35px;
    border: 2px solid rgb(238, 8, 8);
    box-shadow:  10px 10px 30px rgba(238, 105, 105, 0.637);
    border-radius: 20px;
    font-weight: 900;
}