.mini-card{
    display: flex;
    flex-direction: column;
    justify-content: top;
    flex-grow: 1;
    flex-shrink: 0;
    width: 250px;
    height: 100%;
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px 30px 0 30px;
    box-shadow: 10px 10px 20px gray;
    text-overflow: hidden;
}
.mini-card img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin:auto auto;
}
.mini-card p{
    font-weight: 450;
}
.mini-card h2{
    text-shadow: 0 5px rgba(133, 160, 160, 0.37);
    font-weight: bold;
    font-size:2em;
}
.focused{
    font-weight:900;
}
.mini-card button{
    width: 250px;
    height: 50px;
    border: 2px solid black;
    border-radius: 20px;
    margin: auto auto;
    font-weight: 900;
}